{% extends "base.html" %}

{% block contents -%}
<h1>Dependency list</h1>
<p>{{ format }} for {{ registry }}</p>

{% macro render_recursive(tree) %}
  {% for package, version, req_version, children in tree %}
  <li class="list-group-item">
    <a href="{{ url_for('package', registry=registry, name=package.name) }}">{{ package.name }}</a>
    {% if version is none %}
      <span style="color: red;">unknown version {{ req_version }}</span>
    {% else %}
      <span class="version">{{ version.version }}</span>
      {% if not req_version.startswith('==') %}
      (required: <span class="version">
      {% if req_version %}{{ req_version }}{% else %}*{% endif -%}
      </span>)
      {% endif %}
      {% if version.status[0] == 'yanked' %}
      <br><span style="color: red;">{{ version.status[1] }}</span>
      {% elif version.status[0] == 'very-outdated' %}
      <br><span style="color: red;">{{ version.status[1] }}</span>
      {% elif version.status[0] == 'outdated' %}
      <br><span style="color: blue;">{{ version.status[1] }}</span>
      {% endif %}
    {% endif %}
    {% if children %}
      <ul class="list-group mt-2">
      {{ render_recursive(children) }}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}

<ul class="list-group">
{{ render_recursive(dependencies) }}
</ul>
{%- endblock %}
