{% extends "base.html" %}

{% block contents -%}
<h1>{{ package.orig_name }} (<a href="{{ link }}">{{ package.registry }}</a>)</h1>
{% if package.last_refresh %}
<p>Last updated: {{ package.last_refresh }}</p>
{% endif %}
<p>Author: {% if package.author %}{{ package.author }}{% else %}unknown{% endif %}</p>
<p>Repository: {% if package.repository %}<a href="{{ package.repository }}">{{ package.repository }}</a>{% else %}unknown{% endif %}</p>
{% if package.description %}
<p>Description:</p>
<blockquote style="max-height: 50vh; overflow: auto; border: 1px solid black; border-left: 0.5em solid grey;">
{{ rendered_description }}
</blockquote>
{% else %}
<p>Description: none</p>
{% endif %}
<ul class="list-group">
  {% for version in versions %}
  <li class="list-group-item">
    <span class="version">{{ version.version }}</span>
    {% if version.status[0] == 'yanked' %}
    <br><span style="color: red;">{{ version.status[1] }}</span>
    {% elif version.status[0] == 'very-outdated' %}
    <br><span style="color: red;">{{ version.status[1] }}</span>
    {% elif version.status[0] == 'outdated' %}
    <br><span style="color: blue;">{{ version.status[1] }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{%- endblock %}
