{% extends "base.html" %}

{% block contents -%}
<h1>{{ package.name }}</h1>
{% if package.last_refresh %}
<p>Last updated: {{ package.last_refresh }}</p>
{% endif %}
<p>Author: {% if package.author %}{{ package.author }}{% else %}unknown{% endif %}</p>
{% if package.description %}
<p>Description:</p>
<blockquote>
{{ rendered_description }}
</blockquote>
{% else %}
<p>Description: none</p>
{% endif %}
<p>Repository: {% if package.repository %}{{ package.repository }}{% else %}unknown{% endif %}</p>
{% for version in versions %}
<p>Version {{ version.version }}, released {{ version.release_date }}{% if version.yanked %} YANKED{% endif %}</p>
{% endfor %}
{%- endblock %}
